@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/images/netflix-bg.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: -23px;
  position: relative;
}

.main .box {
  height: 90vh;
  width: 100%;
  opacity: 0.69;
  background-color: #000000;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero> :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.hero> :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero> :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 15;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 500;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  /* font-weight: 900; */
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;

}


.secImg {
  position: relative;
}

.secImg img{
  position: relative;
  z-index: 10;
  width: 490px;
}

.secImg video {
  position: absolute;
  top: 95px;
  right: 20px;
  width: 410px;
  /* height: 240px; */
}

section.first > div {
  display: flex;
  flex-direction: column;
  /* margin: 7px 0  25px 0; */
  padding: 34px 0;
}

.first > div :nth-child(1) {
  font-size: 40px;
  font-weight: bolder;
}

.first > div :nth-child(2) {
  font-size: 20px;
  /* font-weight: bolder; */
}

.faq h2 {
  text-align: center;
  font-size: 38px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq-box {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;

  padding: 24px;
  max-width: 75vw;
  margin: 8px auto;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.4s ease-in;
}

.faq-box:hover {
  background-color: rgb(64, 63, 63);
}

footer {
color: white;
max-width: 75vw;
margin: auto;
padding: 34px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

footer .questions {
  padding-bottom: 34px;
}

.footer a {
  color: white;
  font-size: 14px;

}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (max-width: 1300px) {
  .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  gap: 25px;
}

  .first {
    flex-wrap: wrap;
  }

  .secImg img{
  width: 320px;
 }
  
 .secImg video {
  width: 260px;
  top: 75px;
}

.hero> :nth-child(1) {
  font-size: 32px;
}

.hero> :nth-child(2) {
  font-size: 18px;
}

.hero> :nth-child(3) {
  font-size: 18px;
}

nav {
  max-width: 90vw;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.faq h2 {
  font-size: 32px;
}

footer {
  max-width: 82vw;
}

.footer-item {
  align-items: center;
}

}

